<!DOCTYPE html>
<!--[if lt IE 7]>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" class="no-js"> <!--<![endif]-->
<head th:replace="client/fragments/head :: head">
    <title th:text="${title}">This is the default description</title>
</head>
<body>
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>
<!-- Body content -->
<div th:replace="client/fragments/header :: header"></div>
<!--End top header -->

<div th:replace="client/fragments/navbar :: navbar"></div>
<!-- End of nav bar -->

<div layout:fragment="content"></div>
<!-- property area -->

<div th:replace="client/fragments/footer :: footer"></div>
<!-- Footer area-->

<!--<div th:fragment="scripts"></div>-->
<script th:src="@{client/assets/js/modernizr-2.6.2.min.js}"></script>

<script th:src="@{client/assets/js/jquery-1.10.2.min.js}"></script>
<script th:src="@{client/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{client/assets/js/bootstrap-select.min.js}"></script>
<script th:src="@{client/assets/js/bootstrap-hover-dropdown.js}"></script>

<script th:src="@{client/assets/js/easypiechart.min.js}"></script>
<script th:src="@{client/assets/js/jquery.easypiechart.min.js}"></script>

<script th:src="@{client/assets/js/owl.carousel.min.js}"></script>

<script th:src="@{client/assets/js/wow.js}"></script>

<script th:src="@{client/assets/js/icheck.min.js}"></script>
<script th:src="@{client/assets/js/price-range.js}"></script>

<script th:src="@{client/assets/js/main.js}"></script>
<!--Script area -->
<script>
    $(document).ready(function () {
        $.ajax({
            url: "api/v1/rest/province",
            type: "GET",
            success: function (response) {
                console.log("Success get province!");
                $.each(response, function (index, option) {
                    $("#property_city__select").append("<option value='" + option.id + "'>" + option.name + "</option>");
                });
                $("#property_city__select").selectpicker("refresh");
            },
            error: function (xhr, status, error) {
                console.log("Error: " + error);
            }
        });

        $("#property_city__select").change(function () {
            let selectedOption = $(this).val();
            clearElementSelection("property_district__select", "property_ward__select");
            console.log("api/v1/rest/district/province/" + selectedOption);
            $.ajax({
                url: "api/v1/rest/district/province/" + selectedOption,
                type: "GET",
                success: function (response) {
                    console.log("Success get district!");
                    $.each(response, function (index, option) {
                        $("#property_district__select").append("<option value='" + option.id + "'>" + option.name + "</option>");
                    });
                    $("#property_district__select").selectpicker("refresh");
                },
                error: function (xhr, status, error) {
                    console.log("Error: " + error);
                }
            });
        });

        $("#property_district__select").change(function () {
            let selectedOption = $(this).val();
            console.log("api/v1/rest/ward/district/" + selectedOption);
            clearElementSelection("property_ward__select");
            $.ajax({
                url: "api/v1/rest/ward/district/" + selectedOption,
                type: "GET",
                success: function (response) {
                    console.log("Success get ward!");
                    $.each(response, function (index, option) {
                        $("#property_ward__select").append("<option value='" + option.id + "'>" + option.name + "</option>");
                    });
                    $("#property_ward__select").selectpicker("refresh");
                },
                error: function (xhr, status, error) {
                    console.log("Error: " + error);
                }
            });
        });

        function clearElementSelection() {
            for (let param of arguments) {
                console.log(param);
                let selectElement = document.getElementById(param);
                let selectOptions = selectElement.options;
                for (let i = selectOptions.length - 1; i >= 0; i--) {
                    selectOptions[i].remove(); // Xóa tùy chọn
                }
                let defaultOption = document.createElement("option");
                defaultOption.text = "--Chọn một tùy chọn--";
                defaultOption.value = "";
                defaultOption.disabled = true;
                defaultOption.selected = true;
                selectElement.add(defaultOption); // Thêm tùy chọn mặc định
            }
        }
    });
</script>
</body>
</html>