<head xmnls="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="head">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="GARO is a real-estate template">
    <meta name="author" content="Kimarotec">
    <meta name="keyword" content="html5, css, bootstrap, property, real-estate theme , bootstrap template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>

    <!-- Place favicon.ico  the root directory -->
    <link rel="shortcut icon" th:href="@{client/favicon.ico}" type="image/x-icon">
    <link rel="icon" th:href="@{client/favicon.ico}" type="image/x-icon">

    <link rel="stylesheet" th:href="@{client/assets/css/normalize.css}">
    <link rel="stylesheet" th:href="@{client/assets/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{client/assets/css/fontello.css}">
    <link th:href="@{client/assets/fonts/icon-7-stroke/css/pe-icon-7-stroke.css}" rel="stylesheet">
    <link th:href="@{client/assets/fonts/icon-7-stroke/css/helper.css}" rel="stylesheet">
    <link th:href="@{client/assets/css/animate.css}" rel="stylesheet" media="screen">
    <link rel="stylesheet" th:href="@{client/assets/css/bootstrap-select.min.css}">
    <link rel="stylesheet" th:href="@{client/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{client/assets/css/icheck.min_all.css}">
    <link rel="stylesheet" th:href="@{client/assets/css/price-range.css}">
    <link rel="stylesheet" th:href="@{client/assets/css/owl.carousel.css}">
    <link rel="stylesheet" th:href="@{client/assets/css/owl.theme.css}">
    <link rel="stylesheet" th:href="@{client/assets/css/owl.transitions.css}">
    <link rel="stylesheet" th:href="@{client/assets/css/style.css}">
    <link rel="stylesheet" th:href="@{client/assets/css/responsive.css}">
</head>