<!DOCTYPE html>
<!--[if lt IE 7]>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" class="no-js">
<!--<![endif]-->

<head layout:fragment="head-content"></head>
<body>
<div id="preloader">
  <div id="status">&nbsp;</div>
</div>
<!-- Body content -->
<div th:replace="client/fragments/header :: header"></div>
<!--End top header -->

<div th:replace="client/fragments/navbar :: navbar"></div>
<!-- End of nav bar -->

<div layout:fragment="content"></div>
<!-- property area -->

<div th:replace="client/fragments/footer :: footer"></div>
<!-- Footer area-->

<!--<div th:fragment="scripts"></div>-->
</body>
</html>